body {
    background-color: #b3e6f6;
}

.first{
    Color: red ;
    text-shadow: 3px 5px 10px black ; 
    text-align:center;
}

.second{
    Color: yellow ;
    text-shadow: 3px 5px 10px black ; 
    text-align:end;
}


